    Question 1
    
    Create a function that takes a number as an argument and returns True or False depending
    on whether the number is symmetrical or not. A number is symmetrical when it is the same as
    its reverse.
    Examples
    is_symmetrical(7227) ➞ True
    is_symmetrical(12567) ➞ False
    is_symmetrical(44444444) ➞ True
    is_symmetrical(9939) ➞ False
    is_symmetrical(1112111) ➞ True

In [49]:
def is_symmetrical(a):
    b=str(a)[::-1]
    if str(a) == b:
        return True
    return False

In [50]:
is_symmetrical(7227)

True

In [51]:
is_symmetrical(12567)

False

In [52]:
is_symmetrical(44444444)

True

In [53]:
is_symmetrical(9939)

False

In [54]:
is_symmetrical(1112111)

True

    Question 2
    
    Given a string of numbers separated by a comma and space, return the product of the
    numbers.
    Examples
    multiply_nums("2, 3") ➞ 6
    multiply_nums("1, 2, 3, 4") ➞ 24
    multiply_nums("54, 75, 453, 0") ➞ 0
    multiply_nums("10, -2") ➞ -20

In [55]:
def multiply_nums(a):
    a=a.replace('',"")
    # print(a)
    a=a.split(',')
    # print(a)
    mul=1
    for i in a:
        mul=mul*int(i)
    return mul

In [56]:
multiply_nums("2, 3")

6

In [33]:
multiply_nums("1, 2, 3, 4")

24

In [34]:
multiply_nums("54, 75, 453, 0")

0

In [35]:
multiply_nums("10, -2")

-20

    Question 3
    
    Create a function that squares every digit of a number.
    Examples
    square_digits(9119) ➞ 811181
    square_digits(2483) ➞ 416649
    square_digits(3212) ➞ 9414
    Notes
    The function receives an integer and must return an integer.

In [36]:
def square_digits(n):
    square = ''.join(str(int(i)**2) for i in str(n))
    return int(square)

In [37]:
square_digits(9119)

811181

In [38]:
square_digits(2483)

416649

In [39]:
square_digits(3212)

9414

    Question 4
    
    Create a function that sorts a list and removes all duplicate items from it.
    Examples
    setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
    setify([4, 4, 4, 4]) ➞ [4]
    setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
    setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [40]:
def setify(a):
    a.sort()
    b=set(a)
    l=list(b)
    return l

In [41]:
setify([1,3,3,5,5])

[1, 3, 5]

In [42]:
setify([4, 4, 4, 4])

[4]

In [43]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [44]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

    Question 5
    
    Create a function that returns the mean of all digits.
    Examples
    mean(42) ➞ 3
    mean(12345) ➞ 3
    mean(666) ➞ 6
    Notes
     The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
    512 is (5+1+2)/3(number of digits) = 8/3=2).  The mean will always be an integer.

In [45]:
def mean(a):
    sum = 0
    lenth = len(str(a))
    for i in str(a):
        sum = sum+ int(i)
        b=int(sum/lenth)
    return b

In [46]:
mean(42)

3

In [47]:
mean(12345)

3

In [48]:
mean(666)

6